<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= article.articleKey %></title>
</head>
<body>
  <pre><%= JSON.stringify(summary,null,2) %></pre>
  <pre><%= JSON.stringify(article,null,2) %></pre>
</body>
</html>
