<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Browse</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white text-gray-500 dark:text-gray-300 dark:bg-gray-900 ">
<div class="shadow overflow-hidden sm:rounded-md">
  <div class="md:mx-4 w-full md:w-2/3 md:mx-auto flex flex-col gap gap-y-8 bg-white dark:bg-gray-800 shadow overflow-hidden sm:rounded-md">
    <% feedArticles.forEach( ({article,summary}) => { %>
      <div class="p-4 block bg-gray-50 dark:bg-gray-800">
        <%- include("partials/web_article.ejs", {summary,article,debug:false}) %>
      </div>
      <hr class="border-gray-300 dark:border-gray-700" />
    <% }) %>
  </div>
</body>
<style>
article {
  margin: 0px;
  padding: 0px;
}
article .body .p > blockquote {
    display: block;
    font-style: normal;
    margin: 0.5em;
    padding-left: 0.2rem;
    padding-bottom: 0.5rem;
    color: rgb(51 65 85);
}
@media (prefers-color-scheme: dark) {
  article .body .p > blockquote {
      color: white;
  }
}
@media (min-width: 768px) {
  article .body .p > blockquote {
      border-left: 3px solid rgb(221, 221, 221);
      display: block;
      font-style: normal;
      margin: 0.5em;
      padding-left: 1em;
  }
}
article .body .p >  a {
  text-decoration: underline;
}
</style>
</html>
