<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
</head>
<body>
  <h1><%= url %></h1>
  <p><%= error %></p>
  <a href="/article/<%= parseInt(index) - 1 %>">Previous</a>
  <a href="/article/<%= parseInt(index) + 1 %>">Next</a>
</body>
</html>
