{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col items-center justify-center h-screen">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h2 class="block text-gray-700 text-xl font-bold mb-2">{{ data.title }}</h2>
        <p class="mb-6 text-gray-700">{{ data.summary }}</p>
        <a href="/view" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          View Links
        </a>
        <a href="/" class="ml-1 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Add Another Link
        </a>
    </div>
</div>
{% endblock %}

